#Folders
Debug/

#Visual Studio Files
*.vcxproj
*.vcxproj.*
*.exe

#Files in macOS
.DS_Store

#Files in make process
*.o
grading
*.out
*.gch

#Files while running program
sorted.txt
marks.txt
students.txt